<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anchor.ms.auth.mapper.DictMapper">

	<sql id="dictColumns">
        dict.CODE as code,dict.CREATE_TIME as createTime,dict.CREATOR_ID as creatorId,dict.ID as id,dict.NAME as name,dict.STATE as state,dict.UPDATE_TIME as updateTime
	</sql>

	<!-- 修改 -->
	<update id="update" parameterType="dict">
		update SYS_DICT
		<set>
			
			<if test="code != null">
				CODE = #{ code },
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{ createTime },
			</if>
			<if test="creatorId != null">
				CREATOR_ID = #{ creatorId },
			</if>
			<if test="id != null">
				ID = #{ id },
			</if>
			<if test="name != null">
				NAME = #{ name },
			</if>
			<if test="state != null">
				STATE = #{ state },
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{ updateTime },
			</if>

		</set>
		where ID = #{id}
	</update>


	<insert id="insert" parameterType="dict">
		INSERT INTO SYS_DICT(
			CODE,CREATE_TIME,CREATOR_ID,ID,NAME,STATE,UPDATE_TIME
		)
		VALUES(
			#{ code },#{ createTime },#{ creatorId },#{ id },#{ name },#{ state },#{ updateTime }
		)
	</insert>


	<delete id="delete" parameterType="java.lang.Long">
			DELETE FROM SYS_DICT where id = #{id}
	</delete>


	<!-- 根据主键获取 -->
	<select id="get" parameterType="java.lang.Long" resultType="dict">
		SELECT
		<include refid="dictColumns" />
		FROM  SYS_DICT dict
		where id = #{ id }
	</select>

	<!-- 获取列表 -->
	<select id="getList"  resultType="dict">
		select
		<include refid="dictColumns" />
		from SYS_DICT dict
	</select>

	<select id="getListByPage" parameterType="com.anchor.core.common.query.QueryPage" resultType="dict">
		select
		<include refid="dictColumns" />
		from SYS_DICT dict
	</select>

</mapper>