<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anchor.ms.auth.mapper.PermissionMapper">

	<sql id="permissionColumns">
        p.CODE as code,p.CREATE_TIME as createTime,p.CREATOR_ID as creatorId,
        p.ID as id,p.NAME as name,p.PID as pid,p.RANK as rank,
        p.STATUS as status,p.TYPE as type,p.UPDATE_TIME as updateTime,
        p.URL as url,p.icon as icon,p.target_type as targetType
	</sql>

	<!-- 修改 -->
	<update id="update" parameterType="permission">
		update sys_permission
		<set>
			
			<if test="code != null">
				CODE = #{ code },
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{ createTime },
			</if>
			<if test="creatorId != null">
				CREATOR_ID = #{ creatorId },
			</if>
			<if test="id != null">
				ID = #{ id },
			</if>
			<if test="name != null">
				NAME = #{ name },
			</if>
			<if test="pid != null">
				PID = #{ pid },
			</if>
			<if test="rank != null">
				RANK = #{ rank },
			</if>
			<if test="status != null">
				STATUS = #{ status },
			</if>
			<if test="type != null">
				TYPE = #{ type },
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{ updateTime },
			</if>
			<if test="url != null">
				URL = #{ url },
			</if>
			<if test="icon != null">
				ICON = #{ icon },
			</if>
			<if test="targetType != null">
				TARGET_TYPE = #{ targetType },
			</if>
		</set>
		where ID = #{id}
	</update>


	<insert id="insert" parameterType="permission">
		INSERT INTO sys_permission(
			CODE,CREATE_TIME,CREATOR_ID,NAME,PID,RANK,STATUS,TYPE,UPDATE_TIME,URL,TARGET_TYPE
		)
		VALUES(
			#{ code },now(),#{ creatorId },#{ name },#{ pid },#{ rank },#{ status },#{ type },now(),#{ url },#{ targetType }
		)
	</insert>


	<delete id="delete" parameterType="java.lang.Long">
			DELETE FROM sys_permission where id = #{id}
	</delete>


	<!-- 根据主键获取 -->
	<select id="get" parameterType="java.lang.Long" resultType="permission">
		SELECT
		<include refid="permissionColumns" />
		FROM  sys_permission p
		where id = #{ id }
	</select>

	<!-- 获取列表 -->
	<select id="getList"  resultType="permission">
		select
		<include refid="permissionColumns" />
		from sys_permission p
	</select>

	<select id="getListByPage" parameterType="com.anchor.core.common.query.QueryPage" resultType="permission">
		select
		<include refid="permissionColumns" />
		from sys_permission p
	</select>
	<!-- 获取列表 -->
	<select id="getPermissionByUserId"  resultType="permission">
		select
		<include refid="permissionColumns" />
		from sys_permission p
		join sys_role_permission rp on rp.PERMISSION_ID = p.id
		join sys_role r on r.ID = rp.ROLE_id
		join sys_user_role ur on r.ID =ur.ROLE_ID
		where ur.USER_ID=#{userId} and p.status='1' and r.status='1'
		order by p.RANK asc
	</select>
	<!-- 获取列表 -->
	<select id="getPermissionCodeByUserId"  resultType="string">
		select
		p.code
		from sys_permission p
		join sys_role_permission rp on rp.PERMISSION_ID = p.id
		join sys_role r on r.ID = rp.ROLE_id
		join sys_user_role ur on r.ID =ur.ROLE_ID
		where ur.USER_ID=#{userId} and p.status='1' and r.status='1'
		order by p.RANK asc
	</select>


	<!-- 获取列表 -->
	<select id="getPermissionTree"  resultType="permissionTree">
		select
		<include refid="permissionColumns" />
		,
		IF(p.TYPE='0', true,false) as expandAble
		from sys_permission p
		<where >
			<if test="t.code!=null and t.code!=''">
				and instr(p.CODE,#{ t.code })>0
			</if>
			<if test="t.name!=null and t.name!=''">
				and instr(p.NAME,#{ t.name })>0
			</if>
			<if test="t.type!=null and t.type!=''">
				and p.TYPE = #{t.type}
			</if>
			<if test="t.status!=null and t.status!=''">
				and p.status = #{t.status}
			</if>
			<choose>
				<when test="t.id!=null">
					and p.pid = #{t.id}
				</when>
				<when test="(t.name!=null and t.name!='') or (t.code!=null and t.code!='')
				or (t.type!=null and t.type!='') or (t.status!=null and t.status!='') ">

				</when>
				<otherwise>
					and p.pid is null
				</otherwise>
			</choose>
		</where>
		<choose>
			<when test="sort!=null and sortOrder!=null">
				order by p.${sort} ${sortOrder}
			</when>
			<otherwise>
				order by p.CREATE_TIME DESC
			</otherwise>
		</choose>
	</select>
	<!-- 获取列表 -->
	<select id="getRolePermissionTree"  resultType="permissionTree">
		select
		<include refid="permissionColumns" />
		,IF(p.TYPE='0', true,false) as expandAble
		,IF(rp.role_id is null, false,true) as checked
		from sys_permission p
		left join  sys_role_permission rp on rp.role_id = #{t.roleId} and rp.PERMISSION_ID = p.id
		where  p.status = '1'
		<choose>
			<when test="sort!=null and sortOrder!=null">
				order by p.${sort} ${sortOrder}
			</when>
			<otherwise>
				order by p.CREATE_TIME DESC
			</otherwise>
		</choose>
	</select>


</mapper>