<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anchor.ms.auth.mapper.RoleMapper">

	<sql id="roleColumns">
            r.CODE as code,r.CREATE_TIME as createTime,r.CREATOR_ID as creatorId,r.ID as id,r.NAME as name,r.STATUS as status,r.UPDATE_TIME as updateTime
	</sql>

	<!-- 修改 -->
	<update id="update" parameterType="role">
		update sys_role
		<set>

			<if test="code != null">
				CODE = #{ code },
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{ createTime },
			</if>
			<if test="creatorId != null">
				CREATOR_ID = #{ creatorId },
			</if>
			<if test="id != null">
				ID = #{ id },
			</if>
			<if test="name != null">
				NAME = #{ name },
			</if>
			<if test="status != null">
				STATUS = #{ status },
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = now(),
			</if>

		</set>
		where ID = #{id}
	</update>


	<insert id="insert" parameterType="role"    >
		INSERT INTO sys_role(
		CODE,CREATE_TIME,CREATOR_ID,NAME,STATUS,UPDATE_TIME
		)
		VALUES(
		#{ code } ,  now() ,  #{ creatorId } ,   #{ name } ,  #{ status } ,  now()
		)
	</insert>

	<insert id="insertRolePermissionBatch">

		INSERT INTO sys_role_permission(ROLE_ID,permission_ID,CREATE_TIME,CREATOR_ID)
		VALUES
		<foreach collection="permissionIds" item="permissionId" index="index" separator="," >
			(#{ roleId } ,  #{permissionId},  now(),#{ creatorId })
		</foreach>
	</insert>
	<delete id="deleteRolePermission">
		delete from sys_role_permission where role_id = #{roleId}
	</delete>


	<!-- 根据主键获取 -->
	<select id="get" parameterType="java.lang.Long" resultType="role">
		SELECT
		<include refid="roleColumns" />
		FROM  sys_role r
		where id = #{ id }
	</select>

	<!-- 获取列表 -->
	<select id="getList"  resultType="role">
		select
		<include refid="roleColumns" />
		from sys_role r
	</select>

	<select id="getListByPage" parameterType="com.anchor.core.common.query.QueryPage"  resultType="role">
		select
		<include refid="roleColumns" />
		from sys_role r
		<where>
			<if test="t.code!=null and t.code!=''">
				and instr(r.CODE,#{ t.code })>0
			</if>
			<if test="t.name!=null and t.name!=''">
				and instr(r.NAME,#{ t.name })>0
			</if>
			<if test="t.status!=null and t.status!=''">
				r.status=#{ t.status }
			</if>
		</where>
		<choose>
			<when test="sort!=null and sortOrder!=null">
				order by r.${sort} ${sortOrder}
			</when>
			<otherwise>
				order by r.CREATE_TIME DESC
			</otherwise>
		</choose>
	</select>

</mapper>