<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anchor.ms.auth.mapper.RoleMapper">

	<sql id="roleColumns">
            r.CODE as code,r.CREATE_TIME as createTime,r.CREATOR_ID as creatorId,r.ID as id,r.NAME as name,r.STATE as state,r.UPDATE_TIME as updateTime
	</sql>

	<!-- 修改 -->
	<update id="update" parameterType="role">
		update SYS_ROLE
		<set>

			<if test="code != null">
				CODE = #{ code },
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{ createTime },
			</if>
			<if test="creatorId != null">
				CREATOR_ID = #{ creatorId },
			</if>
			<if test="id != null">
				ID = #{ id },
			</if>
			<if test="name != null">
				NAME = #{ name },
			</if>
			<if test="state != null">
				STATE = #{ state },
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = now(),
			</if>

		</set>
		where ID = #{id}
	</update>


	<insert id="insert" parameterType="role"    >
		INSERT INTO SYS_ROLE(
		CODE,CREATE_TIME,CREATOR_ID,NAME,STATE,UPDATE_TIME
		)
		VALUES(
		#{ code } ,  now() ,  #{ creatorId } ,   #{ name } ,  #{ state } ,  now()
		)
	</insert>


	<!-- 根据主键获取 -->
	<select id="get" parameterType="java.lang.Long" resultType="role">
		SELECT
		<include refid="roleColumns" />
		FROM  SYS_ROLE r
		where id = #{ id }
	</select>

	<!-- 获取列表 -->
	<select id="getList"  resultType="role">
		select
		<include refid="roleColumns" />
		from SYS_ROLE r
	</select>

	<select id="getListByPage" parameterType="com.anchor.core.common.query.QueryPage"  resultType="role">
		select
		<include refid="roleColumns" />
		from SYS_ROLE r
		<where>
			<if test="t.code!=null and t.code!=''">
				and instr(r.CODE,#{ t.code })>0
			</if>
			<if test="t.name!=null and t.name!=''">
				and instr(r.NAME,#{ t.name })>0
			</if>
		</where>
		<choose>
			<when test="sort!=null and sortOrder!=null">
				order by r.${sort} ${sortOrder}
			</when>
			<otherwise>
				order by r.CREATE_TIME DESC
			</otherwise>
		</choose>
	</select>

</mapper>