<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anchor.ms.auth.mapper.UserMapper">

	<sql id="userColumns">
        user.CREATE_TIME as createTime,user.CREATOR_ID as creatorId,user.EMAIL as email,
        user.ID as id,user.NAME as name,user.PASSWORD as password,user.PHONE as phone,
        user.QQ as qq,user.UPDATE_TIME as updateTime,user.USERNAME as username,user.state as state
	</sql>
	<sql id="userDtoColumns">

		DATE_FORMAT(user.CREATE_TIME,'%Y-%c-%d %H:%i:%s')  as createTime,user.CREATOR_ID as creatorId,
		user.EMAIL as email,user.ID as id,
		user.NAME as name,user.STATE as state,
		user.PHONE as phone,user.QQ as qq,
		DATE_FORMAT(user.UPDATE_TIME,'%Y-%c-%d %H:%i:%s') as updateTime,
		user.USERNAME as username
	</sql>
	<!-- 修改 -->
	<update id="update" parameterType="user">
		update SYS_USER
		<set>
			
			<if test="createTime != null">
				CREATE_TIME = #{ createTime },
			</if>
			<if test="creatorId != null">
				CREATOR_ID = #{ creatorId },
			</if>
			<if test="email != null">
				EMAIL = #{ email },
			</if>
			<if test="id != null">
				ID = #{ id },
			</if>
			<if test="name != null">
				NAME = #{ name },
			</if>
			<if test="password != null">
				PASSWORD = #{ password },
			</if>
			<if test="phone != null">
				PHONE = #{ phone },
			</if>
			<if test="qq != null">
				QQ = #{ qq },
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{ updateTime },
			</if>
			<if test="username != null">
				USERNAME = #{ username },
			</if>

		</set>
		where ID = #{id}
	</update>


	<insert id="insert" parameterType="user" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO SYS_USER(
			CREATE_TIME,CREATOR_ID,EMAIL,ID,NAME,PASSWORD,PHONE,QQ,UPDATE_TIME,USERNAME
		)
		VALUES(
			#{ createTime },#{ creatorId },#{ email },#{ id },#{ name },#{ password },#{ phone },#{ qq },#{ updateTime },#{ username }
		)
	</insert>


	<delete id="delete" parameterType="java.lang.Long">
			DELETE FROM SYS_USER where id = #{id}
	</delete>


	<!-- 根据主键获取 -->
	<select id="get" parameterType="java.lang.Long" resultType="user">
		SELECT
		<include refid="userColumns" />
		FROM  SYS_USER user
		where id = #{ id }
	</select>

	<!-- 获取列表 -->
	<select id="getList"  resultType="user">
		select
		<include refid="userColumns" />
		from SYS_USER user
	</select>

	<select id="getListByPage" parameterType="com.anchor.core.common.query.QueryPage" resultType="com.anchor.ms.auth.dto.UserDto">
		select
		<include refid="userDtoColumns" />
		from SYS_USER user
		<where>
			<if test="t.username!=null">
				and instr(user.username,#{t.username})>0
			</if>
			<if test="t.name!=null">
				and instr(user.name,#{t.name})>0
			</if>
		</where>

		<choose>
			<when test="sort!=null and sortOrder!=null">
				order by user.${sort} ${sortOrder}
			</when>
			<otherwise>
				order by user.CREATE_TIME DESC
			</otherwise>
		</choose>


	</select>

	<select id="findUserByUsername" parameterType="java.lang.String" resultType="user">
		SELECT
		<include refid="userColumns" />
		FROM  SYS_USER user
		where username = #{username}
	</select>
	<select id="login"  resultType="user">
		SELECT
		<include refid="userColumns" />
		FROM  SYS_USER user
		where username = #{username} and password = #{password}
	</select>

</mapper>