<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anchor.ms.auth.mapper.UserMapper">

	<sql id="userColumns">
        user.CREATE_TIME as createTime,user.CREATOR_ID as creatorId,user.EMAIL as email,
        user.ID as id,user.NAME as name,user.PASSWORD as password,user.PHONE as phone,
        user.QQ as qq,user.UPDATE_TIME as updateTime,user.USERNAME as username,user.status as status

	</sql>

	<sql id="userRoleColumns">
		r.CODE as roleCode,r.CREATE_TIME as roleCreateTime,r.CREATOR_ID as roleCreatorId,
		r.ID as roleId,r.NAME as roleName,r.STATUS as roleStatus,r.UPDATE_TIME as roleUpdateTime
	</sql>
	<sql id="userDtoColumns">
		DATE_FORMAT(user.CREATE_TIME,'%Y-%c-%d %H:%i:%s')  as createTime,user.CREATOR_ID as creatorId,
		user.EMAIL as email,user.ID as id,
		user.NAME as name,user.STATUS as status,
		user.PHONE as phone,user.QQ as qq,
		DATE_FORMAT(user.UPDATE_TIME,'%Y-%c-%d %H:%i:%s') as updateTime,
		user.USERNAME as username
	</sql>

	<resultMap type="com.anchor.ms.auth.dto.UserDto" id="userDtoMap">
		<id property="id" column="ID"/>
		<result property="createTime" column="createTime"/>
		<result property="name" column="name"/>
		<result property="phone" column="phone"/>
		<result property="qq" column="qq"/>
		<result property="updateTime" column="updateTime"/>
		<result property="email" column="email"/>
		<result property="username" column="username"/>
		<result property="status" column="status"/>
		<association property="role" javaType="role">
			<id property="id" column="roleId"/>
			<result property="code" column="roleCode"/>
			<result property="createTime" column="roleCreateTime"/>
			<result property="creatorId" column="roleCreatorId"/>
			<result property="name" column="roleName"/>
			<result property="status" column="roleStatus"/>
			<result property="updateTime" column="roleUpdateTime"/>
		</association>
	</resultMap>


	<resultMap type="user" id="userMap">
		<id property="id" column="ID"/>
		<result property="createTime" column="createTime"/>
		<result property="name" column="name"/>
		<result property="phone" column="phone"/>
		<result property="password" column="password"/>
		<result property="creatorId" column="creatorId"/>
		<result property="qq" column="qq"/>
		<result property="email" column="email"/>
		<result property="updateTime" column="updateTime"/>
		<result property="username" column="username"/>
		<result property="status" column="status"/>
		<association property="role" javaType="role">
			<id property="id" column="roleId"/>
			<result property="code" column="roleCode"/>
			<result property="createTime" column="roleCreateTime"/>
			<result property="creatorId" column="roleCreatorId"/>
			<result property="name" column="roleName"/>
			<result property="status" column="roleStatus"/>
			<result property="updateTime" column="roleUpdateTime"/>
		</association>
	</resultMap>
	<!-- 修改 -->
	<update id="update" parameterType="user">
		update sys_user
		<set>
			
			<if test="createTime != null">
				CREATE_TIME = #{ createTime },
			</if>
			<if test="creatorId != null">
				CREATOR_ID = #{ creatorId },
			</if>
			<if test="email != null">
				EMAIL = #{ email },
			</if>
			<if test="id != null">
				ID = #{ id },
			</if>
			<if test="name != null">
				NAME = #{ name },
			</if>
			<if test="password != null">
				PASSWORD = #{ password },
			</if>
			<if test="phone != null">
				PHONE = #{ phone },
			</if>
			<if test="qq != null">
				QQ = #{ qq },
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{ updateTime },
			</if>
			<if test="username != null">
				USERNAME = #{ username },
			</if>

		</set>
		where ID = #{id}
	</update>


	<insert id="insert" parameterType="user" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO sys_user(
			CREATE_TIME,CREATOR_ID,EMAIL,ID,NAME,PASSWORD,PHONE,QQ,UPDATE_TIME,USERNAME
		)
		VALUES(
			#{ createTime },#{ creatorId },#{ email },#{ id },#{ name },#{ password },#{ phone },#{ qq },#{ updateTime },#{ username }
		)
	</insert>


	<delete id="delete" parameterType="java.lang.Long">
			DELETE FROM sys_user where id = #{id}
	</delete>


	<!-- 根据主键获取 -->
	<select id="get" parameterType="java.lang.Long" resultMap="userMap">
		SELECT
		<include refid="userColumns" />,
		<include refid="userRoleColumns" />
		FROM  sys_user user left join sys_user_role ur on ur.user_id = user.id left join sys_role r on r.id = ur.role_id
		where user.id = #{ id }
	</select>

	<!-- 获取列表 -->
	<select id="getList"  resultType="user">
		select
		<include refid="userColumns" />
		from sys_user user
	</select>

	<select id="getListByPage" parameterType="com.anchor.core.common.query.QueryPage" resultMap="userDtoMap">
		select
		<include refid="userDtoColumns" />,
		<include refid="userRoleColumns" />
		from sys_user user left join sys_user_role ur on ur.user_id = user.id left join sys_role r on r.id = ur.role_id
		<where>
			<if test="t.username!=null and t.username!=''">
				and instr(user.username,#{t.username})>0
			</if>
			<if test="t.name!=null and t.name!=''">
				and instr(user.name,#{t.name})>0
			</if>
			<if test="t.status!=null and t.status!=''">
				user.status=#{ t.status }
			</if>
		</where>

		<choose>
			<when test="sort!=null and sortOrder!=null">
				order by user.${sort} ${sortOrder}
			</when>
			<otherwise>
				order by user.CREATE_TIME DESC
			</otherwise>
		</choose>


	</select>

	<select id="findUserByUsername" parameterType="java.lang.String" resultType="user">
		SELECT
		<include refid="userColumns" />
		FROM  sys_user user
		where username = #{username}
	</select>
	<select id="login"  resultType="user">
		SELECT
		<include refid="userColumns" />
		FROM  sys_user user
		where username = #{username} and password = #{password}
	</select>
	<select id="deleteRole" parameterType="java.lang.Long" >
		delete from sys_user_role where user_id=#{userId}
	</select>

	<select id="setRole" >
		insert sys_user_role(user_id,role_id,status,create_time,update_time,creator_id)
		values(#{userId},#{roleId},1,now(),now(),#{creatorId})
	</select>
</mapper>